@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";
@import "node_modules/toastr/toastr";


body {
  font-family: "Microsoft Yahei" ;
}
.article-heading {
  text-align: center;
  border-bottom: 3px solid #ccc;
}
.article-info {
  text-align: center;
  color: gray;
}
.fa-btn {
  margin-right: 6px;
}
#paper input[type='checkbox'] {
  width:20px;
  height:20px;
}
.exam input[type='radio'] {
  width:18px;
  height:18px;
}

.exam {
  font-size: 17px;
}

.btn-xlg {
  padding-top:20px!important;
  padding-bottom:20px!important;
}

.question-selection {
  margin: 0 0 0 0!important;
  padding-bottom: 0!important;
  display: inline-block;
}

.question-multi {
  color: black!important;
}

.hfut_logo {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 68px;
}

.hfut {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 55px;
}

.chemlab {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 40px;
}

